---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Children from "../react/Children";
import Site from "../svelte/Site.svelte";
import Button from "../vue/Button.vue";
import Intro from "../components/Intro.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Logo />
    <h1 class="text-gradient">Famly</h1>
    <img src="/famly.jpg" />
    <Intro />

    <div class="flex">
      <div>
        <h1>Children</h1>
        <Children client:visible>
          <Button>➕</Button>
        </Children>
      </div>
      <div>
        <h1>Site</h1>
        <Site client:visible />
      </div>
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }

    .flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  </style>
</Layout>../react/Children
